@charset "UTF-8";

/*
@import url('https://fonts.googleapis.com/css2?family=Hanken+Grotesk:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Hanken+Grotesk:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Quicksand:wght@300;400;500;600;700&display=swap');
@import url('https://fonts.cdnfonts.com/css/tex-gyre-adventor');
@import url('https://fonts.cdnfonts.com/css/tex-gyre-schola');
@import url('https://fonts.cdnfonts.com/css/tex-gyre-termes');
@import url('https://fonts.cdnfonts.com/css/andale-mono');
@import url('https://fonts.cdnfonts.com/css/clarendon');
@import url('https://fonts.googleapis.com/css2?family=Darker+Grotesque:wght@300;400;500;600;700;800;900&display=swap');
@import url('https://fonts.cdnfonts.com/css/thegoodmonolith');
@import url('https://fonts.cdnfonts.com/css/pt-mono');
@import url('https://fonts.cdnfonts.com/css/tex-gyre-pagella');

*/
@import url('https://fonts.cdnfonts.com/css/tt-norms-pro-serif-trl');
@import url('https://fonts.googleapis.com/css2?family=Darker+Grotesque:wght@300;400;500;600;700;800;900&family=VT323&display=swap');
@import url('https://fonts.cdnfonts.com/css/clarendon');
@import url('https://fonts.cdnfonts.com/css/space-mono');

h1.title::before {
  content: '';
  background-image: url(../images/sb2.jpg);
  _background-image: url(../images/cyber-h.png);
  background-repeat: repeat;
  position: fixed;
  background-size: cover;
  background-position: center;
  background-attachment: scroll;
  background-blend-mode: hard-light;
  background-color: white;
  max-width: 750px;
  z-index: -1;
  top:0;
  _right: 0;
  width: 100vw;
  height: 100vh;
  opacity:0.2;
}


body {
  width: 65%;
  margin-left: auto;
  margin-right: auto;
  font-family: 'TT Norms Pro Serif Trl', serif;
  _font-size: 22px;
  font-weight: 450;
  background-color: white;
  color: #111;
  max-width: 750px;
  line-height: normal;
}

h1, h2, h3, h4 {
  font-family: 'Darker Grotesque' , Helvetica, sans-serif;
  font-weight: 800;
  text-transform: uppercase;
  margin: 0;
  margin-top: 1em;
  line-height: 0.8;
}

.printindex{
  font-family: 'Space Mono';
}

.i {
  font-family: 'Space Mono';
  color: #444444;
  font-size: 0.9em;
  font-variant: italic;
  background-color: yellow;

}
h3.section {
  color: #e24f1f;
  text-transform: none;
  font-size: 3em;
}

h4.subsection {
  color: #e24f1f;
  text-transform: none;
  font-size: 2em;
}

.nav-panel {
  font-family: 'Space Mono';
  _color: #444444;
  _color: white;
  _background-color: #999999;
  _color: #e24f1f;
  _font-weight: 800;
  font-size: 1em;

}

td {
  list-style-type: circle;
}
td.menu-entry-destination {
  _font-family: TexGyreAdventor; sans-serif;
  _background-color: yellow;
  font-style: bold;
  list-style-type: circle;
}

td.menu-entry-description {
  _font-family: TexGyreAdventor; sans-serif;
  background-color: yellow;

  _font-weight: 500;
}

.program-in-footer {
  font-family: 'Space Mono';
  color: #333333;
  _font-style: italic;
  _background-color: yellow;
  _font-weight: 800;
}

h1.title{
  font-family: Clarendon,'Darker Grotesque', serif;
  margin: 0;
  text-align: left;
  font-weight: 900;
  _font-size: 5em;
  font-size: min(10vw, 5em);
  text-transform: none;
  _color: #555555;
}

h3.subtitle {
  text-align: left;
  text-transform: none;
  _font-style: italic;
  font-weight: 900;
  _font-family: Clarendon, serif;
  font-family: 'Darker Grotesque', serif;
  _font-family: 'TeXGyreAdventor', serif;
  _font-size: 4em;
  font-size: min(10vw, 5em);
  color: #e24f1f;
  margin: 0;
  margin-bottom: 0.4em;
  _margin-top: 0.1em;
  padding: 0;
  line-height: 0.8em;
}

.author {
  text-align: left;
  font-family: Space Mono, monospace.
  font-weight: 400;
  font-size: 1rem;
  background-color: black;
  color: white;
}

/* Cool infinite background scrolling animation.
 * Twitter: @kootoopas
 */



/* Main styles */
_body {
  margin-top: 13.5em;

  color: #999;
  font: 400 16px/1.5 exo, ubuntu, "segoe ui", helvetica, arial, sans-serif;
  text-align: center;
  /* img size is 50x50 */
  background: url($bg-url) repeat 0 0;

  -webkit-animation: bg-scrolling-reverse 0.92s infinite; /* Safari 4+ */
  -moz-animation: bg-scrolling-reverse 0.92s infinite; /* Fx 5+ */
  -o-animation: bg-scrolling-reverse 0.92s infinite; /* Opera 12+ */
  animation: bg-scrolling-reverse 0.92s infinite; /* IE 10+ */
  -webkit-animation-timing-function: linear;
  -moz-animation-timing-function: linear;
  -o-animation-timing-function: linear;
  animation-timing-function: linear;

  &::before {
    content: "INFINITY";

    font-size: 8rem;
    font-weight: 100;
    font-style: normal;
  }
}

@media (max-width: 760px) {
  body {
    width: 100%;
    margin: 6px;
  }
}
