body {
  width: 90vw;
  max-width: 720px;
  margin-left: auto;
  margin-right: auto;
  font-family: Times, serif;
  _font-size: 18px;
  background-color: #ffffff;
  color: #000000;
  _background-image: url(../images/dot-grid.webp);
}

ul {
  list-style-type: square;
}

h1, h2,h3, h4, h5, h6 {
  font-family: Helvetica, sans-serif;
  _text-transform: uppercase;
}

h1 {
  font-size: 2rem;
}

h1.title {
  text-transform: none;
  font-size: 2em;
  margin-bottom: 0.5rem;
  color: #444444;
  _color: #e24f1f;
  font-family: Courier, monospace;
}

h3.subtitle {
  text-align: left;
  text-transform: none;
  font-weight: 1000;
  color: #e24f1f;
  font-size: 3em;
  margin: 0;
  _line-height: 0.8em;
  margin-bottom: 0.4em;
}

_table {
    border-collapse: collapse;
}

_th {
    border-bottom: 1pt solid black;
    border-top: 2pt solid black;
}


_tr:last-child
{
    border-bottom: 2pt solid black;
}

table, th, td {
    border-collapse: collapse;
    border: 1px, solid;
    border-color: #aaaaaa;
    _width: 100%;
    white-space: normal;
    _width: 100%;
    _table-layout: fixed;
}


div:has(table) {
    _overflow-x: auto;
    word-wrap: break-word;
}


.cp-letters-header-printindex table,
.cp-letters-header-printindex th,
.cp-letters-header-printindex td,
.printindex,
.printindex table,
.printindex th,
.printindex td
{
    border-style: none;
    border: 0px;    
}


table:has(td.menu-entry-destination),
table:has(td.menu-entry-destination) th,
table:has(td.menu-entry-destination) td {
    border-style: none;
    border: 0px;    
}


td.menu-entry-destination {
    white-space: nowrap;
}

td.menu-entry-description {
    white-space: nowrap;
    font-style: italic;
    _list-style-type: "-";
    _width: 100%;
}

img.image {
  display: block;
  margin-left: auto;
  margin-right: auto;
  position: relative;
  -max-height: 15rem;
  max-width: 80vw;
  border: solid 1pt black;
  _max-width: calc((100vw - 750px) / 2 - 5vw);
  _left: calc((750px + ((100vw - 750px) / 2)) + 1vw);
}

.caption {
  font-style: italic;
  font-size: 0.8em;
}

div.caption  p {
  text-align: center;
}

.author {
  font-family: Courier, Helvetica, sans-serif;
  font-weight: 400;
  font-size: 1em;
  _font-style: italic;
  _background-color: black;
  _color: white;
  margin-top: 2em;
}

.program-in-footer {
  font-style:italic;
}

.i {
  _background-color: yellow;
  _text-decoration: underline dotted red 4px;
  text-align: right;
}

td.menu-entry-description {
  white-space: nowrap;
  _background-color: yellow;
  _font-weight: 800;
  font-style: italic;
}

.menu-comment-preformatted {
  margin: 0;
  height: 0;
}
th {
  height: 1px;
}

.cartouche {
  border: 0;
  border-collapse: collapse;
  background-color: #eeeeee;
}

.cartouche td {
  padding: 1rem;
  font-style: italic;
}

h4.subsubsection{
    font-size: 0.9rem;
    font-style: italic;
}
@media screen and (min-width: 60em){
  h1.title {
    font-size: 3rem;
  }
  h3.subtitle {
    font-size: 4rem;
    _letter-spacing: 0.4em;
    _max-width: 30vw;
  }
  .author {
    font-size: 1.3rem;
    font-family: Times;
  }
}

@media screen and (min-width: 1500px){
  .float {
      position: absolute;
    _max-height: 15rem;
    max-width: calc((100vw - 750px) / 2 - 5vw);
    left: calc((750px + ((100vw - 750px) / 2)) + 2vw);
    _margin-top: -40px;
  }
  div.float img.image {
    width: calc((100vw - 750px) / 7 - 0vw);
    _overflow: hidden;
    object-fit: contain;
  }
  .caption {
    max-width: calc((100vw - 750px) / 7 + 1vw);
  }
  div.caption  p {
    text-align: left;
  }
}

@media (prefers-color-scheme: dark) {
  :root, body {
    background-color: black;
    color: white;
  }
  a {
  color: hotpink;
  }
  a:visited {
    color: cyan;
  }

  h1.title {
    color: #AAAAAA;
}

