@import url("monospace-web/reset.css");
@import url("monospace-web/index.css");


h1.title {
    text-transform: none;
    font-size: 2em;
    margin-bottom: 1rem;
    color: #444444;
    _color: #e24f1f;
    _font-family: Fira Code, Monospace;
}

h3.subtitle {
    text-align: left;
    text-transform: none;
    font-weight: 1000;
    color: #e24f1f;
    font-size: 3em;
    margin: 0;
    _line-height: 0.8em;
    margin-bottom: 2rem;
}

img.image {
    display: block;
    margin-left: auto;
    margin-right: auto;
    position: relative;
    -max-height: 15rem;
    max-width: 50vw;
    max-hright: 50vh;
    border: solid 1pt black;
}

